<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707771328699-si9csg77qbtfp9q3qf2f984i38rall11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707771328699-si9csg77qbtfp9q3qf2f984i38rall11</string>
	<key>API_KEY</key>
	<string>AIzaSyDdIddnVZgHaA_2shXjUquC0hCQtTDn8I4</string>
	<key>GCM_SENDER_ID</key>
	<string>707771328699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coffeeHelp</string>
	<key>PROJECT_ID</key>
	<string>coffee-help</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-help.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707771328699:ios:cf9d317f929da8c18b619e</string>
</dict>
</plist>